.App {
  text-align: center;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: 'Pretendard';
}

.customPagination .page-link {
  border: none;
}

/* Form */
.basic-row {
  border-top: 1px solid var(--gray-3);
  min-height: 68px;
}
.basic-row:last-child {
  border-bottom: 1px solid var(--gray-3);
}

.basic-form {
  padding-top: 12px;
  padding-bottom: 12px;
}

.basic-label {
  width: 140px !important;
  display: flex;
  text-align: end;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--gray-1);
  font-weight: 700;
  font-size: 14px !important;
}

/* Table */
.table {
  text-align: center;
  font-size: 14px;
}
.table > thead {
  height: 58px;
  background-color: var(--gray-1);
  border-top: 1px solid var(--gray-3);
  border-bottom: 1px solid var(--gray-3);
  vertical-align: middle !important;
}
.table > thead > tr > th {
  font-weight: normal;
}
.table > tbody {
  border: none;
}
.table > tbody > tr {
  border-bottom: 1px solid var(--gray-3);
}
.table > tbody > tr:nth-of-type(even) {
  background-color: var(--gray-1);
}
.table tr td {
  padding: 1.5rem 0.5rem;
  vertical-align: middle;
}
/* Button */
.basic-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.basic-btn button {
  width: 120px;
  height: 44px;
}
.basic-btn button:first-child {
  margin-right: 8px;
}
/* Modal */
.modal-header {
  padding-bottom: 4px !important;
}
.modal-header > .modal-title {
  font-size: 20px;
  font-weight: 700;
}
.modal-body {
  padding: 24px 24px 20px !important;
}
.modal-body .basic-row {
  width: 100%;
  margin: 0 !important;
}
.modal-footer {
  justify-content: center !important;
  border: none !important;
  padding: 0 20px 20px !important;
}
/* Page title */
.page-title {
  border-bottom: 1px solid var(--gray-6);
  padding-bottom: 4px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 700;
  color: var(--gray-9);
}
.page-sub-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}

/* input checkbox, radio */
.form-check {
  margin-bottom: 0;
}

.form-check-input[type='checkbox'],
.form-check-input[type='radio'] {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.form-check-label {
  font-size: 0.875rem;
  line-height: 1.5rem;
  vertical-align: middle;
}

.form-check-input:checked {
  background-color: var(--pb-6) !important;
  border-color: var(--pb-6) !important;
}

/* icon */
.icon-border {
  border: 1px solid var(--gray-5);
  border-radius: 5px;
  color: var(--gray-6);
  cursor: pointer;
}
.marketit-icon_link_text {
  color: var(--pb-6);
}

.marketit-icon_information {
  color: var(--gray-6);
}
.marketit-icon_required {
  font-size: 14px !important;
}

/* input */
.form-control {
  height: 44px;
  border: 1px solid var(--gray-5) !important;
  font-size: 14px !important;
}
.form-control:focus {
  box-shadow: none !important;
  border-color: var(--pb-6) !important;
}
.form-control::placeholder {
  color: var(--gray-6) !important;
  font-size: 14px;
}
.form-control.is-invalid {
  border-color: #dc3545 !important;
}
.form-control.is-invalid::placeholder {
  color: #dc3545 !important;
}
.form-control.is-valid {
  border-color: #198754 !important;
}
.form-select:focus {
  box-shadow: none !important;
  border-color: var(--pb-6) !important;
}

.form-warning {
  border-color: #f9a825 !important;
}
.form-invalid .css-1s2u09g-control {
  border-color: #dc3545 !important;
}

.form-invalid .css-1insrsq-control {
  border-color: #dc3545 !important;
}

.form-control:disabled,
.css-1insrsq-control {
  background-color: var(--gray-1) !important;
}

.css-1insrsq-control {
  border: 1px solid var(--gray-5) !important;
  min-height: 44px !important;
}

/* select */
.form-select {
  min-height: 36px;
}
.css-1s2u09g-control {
  min-height: 44px !important;
  border-color: var(--gray-5) !important;
}
.css-1s2u09g-control:hover {
  border-color: var(--gray-5) !important;
}
.css-1pahdxg-control {
  min-height: 44px !important;
  border-width: 0px !important;
  box-shadow: none !important;
  border: 1px solid var(--pb-6) !important;
}
.css-1pahdxg-control:hover {
  border-width: 0px !important;
  border: 1px solid var(--pb-6) !important;
}
.css-1hdvxd1-control {
  min-height: 44px !important;
  border-width: 0px !important;
  box-shadow: none !important;
  border: 1px solid var(--pb-6) !important;
}
.css-1hdvxd1-control:hover {
  border-width: 0px !important;
  border: 1px solid var(--pb-6) !important;
}

.css-1rhbuit-multiValue {
  background-color: var(--gray-1) !important;
  border: 1px solid var(--gray-4) !important;
  border-radius: 50px !important;
}
.css-xb97g8:hover {
  background-color: var(--gray-1) !important;
  color: var(--gray-8) !important;
}

:root {
  --gray-0: #ffffff;
  --gray-1: #fafafa;
  --gray-2: #f5f5f5;
  --gray-3: #e8e8e8;
  --gray-4: #dcdcdc;
  --gray-5: #bebebe;
  --gray-6: #919191;
  --gray-7: #737373;
  --gray-8: #414141;
  --gray-9: #121212;
  --gray-10: #000000;
  --pb-1: #f0f5ff;
  --pb-2: #d9e6ff;
  --pb-3: #b4cdfa;
  --pb-4: #96b4f5;
  --pb-5: #789bff;
  --pb-6: #5578f0;
  --pb-7: #3c5fc8;
  --pb-8: #2346a0;
  --pb-9: #052878;
  --red-1: #ffe2e0;
  --red-2: #ffccc7;
  --red-3: #ffa39e;
  --red-4: #ff7875;
  --red-5: #ff4d4f;
  --red-6: #f5222d;
  --red-7: #cf1322;
  --red-8: #a8071a;
  --red-9: #820014;
  --error: #dc3545;
  --caution: #ffc107;
  --success: #28a745;
}

.btn {
  height: 44px;
  font-size: 14px !important ;
  font-weight: 700 !important;
  border-radius: 5px !important;
}

.btn-primary {
  background: var(--pb-6) !important;
  border-color: var(--pb-6) !important;
  box-shadow: none !important;
}

.btn-outline-primary {
  color: var(--pb-6) !important;
  background-color: #ffffff !important;
  border-color: var(--pb-6) !important;
  box-shadow: none !important;
}

.btn-outline-secondary {
  color: var(--gray-6) !important;
  background-color: #ffffff !important;
  border-color: var(--gray-5) !important;
  box-shadow: none !important;
}

.btn-outline-secondary:disabled {
  color: var(--gray-4) !important;
  border-color: var(--gray-4) !important;
}

.btn-outline-danger {
  box-shadow: none !important;
  color: var(--red-5) !important;
  background-color: #ffffff !important;
  border-color: var(--red-5) !important;
}
.btn-outline-danger:disabled {
  color: var(--red-2) !important;
  border-color: var(--red-2) !important;
}

.btn-group > .btn-outline-info {
  display: flex;
  align-items: center;
}

.btn-outline-info {
  background-color: #ffffff;
  color: var(--gray-6) !important;
  border-color: var(--gray-6) !important;
  box-shadow: none !important;
}
.btn-group > .btn-check:checked + .btn {
  background-color: #ffffff;
  color: var(--pb-6) !important;
  border-color: var(--pb-6) !important;
}
.btn-outline-info:hover {
  background-color: #ffffff !important;
}

.css-1okebmr-indicatorSeparator {
  width: 0px !important;
}

input[type='datetime-local' i] {
  color: var(--gray-6);
}

textarea {
  font-size: 14px;
  resize: none !important;
}
textarea::placeholder {
  font-size: 14px;
}

@media (min-width: 576px) {
  .modal-sm {
    max-width: 400px !important;
  }
}

/* tooltip */
.tooltip.show {
  opacity: 1 !important;
}
.tooltip .tooltip-arrow {
  display: none !important;
}
.tooltip .tooltip-inner {
  color: var(--gray-8);
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 0px 1.65899px rgba(168, 168, 168, 0.25);
  text-align: left;
  padding: 10px 16px;
  max-width: none;
}

/* textLink */
.text-link {
  display: inline;
  color: var(--gray-8);
  text-decoration: none;
}

.text-link:hover {
  color: var(--gray-8);
  border-bottom: 1px solid var(--gray-8);
}

.text-link p {
  display: inline;
  margin-bottom: 0;
}

.basic-form.col .invalid-tooltip {
  top: inherit;
}

.form-control.is-invalid::placeholder {
  color: var(--gray-6) !important;
}

.form-control.is-valid {
  border-color: var(--gray-5) !important;
  background-image: none !important;
}
