@import "reset.css";
@import "common.css";
@import "app.css";

/* .without-whitespace {
  width: 100%;
}

.marketit-container {
  padding: 40px;
}

.page-title {
  padding-bottom: 4px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--bs-gray-600);
  font-size: 20px;
  font-weight: 700;
  color: var(--bs-gray-900);
} */

.partner-accounts-search {
  margin-bottom: 40px;
}

.account-form {
  padding: 0px 0.75rem;
}

/* todo : row _ grid scss임 mixin필요 */
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(0 * -1);
  margin-right: calc(1.5rem * -0.5);
  margin-left: calc(1.5rem * -0.5);
}

/* scss에 있는 css */
.form-label {
  margin-bottom: 0.5rem;
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.label-form {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1 0;
}

.label-form > div {
  margin-right: 0.5rem;
}

.label-form > div > .form-label {
  color: var(--gray-6);
}

.css-placeholder {
  color: rgba(128, 128, 128);
  grid-area: 1 / 1 / 2 / 3;
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

/* .partner-autocomplete {
  width: 290px;
} */
