@import "reset.css";
body {
  height: 1000vh;
}

.nav {
  width: 100%;
  height: 52px;
  background-color: #ffffff;
}
.side-bar-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 40px;
  width: 100%;
}
.page-title {
  padding-bottom: 4px;
  border-bottom: 1px solid #919191;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 700;

  font-family: "Pretendard";
  line-height: 24px;
}

.page-sub-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}

.basic-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  min-height: 68px;
  border-top: 1px solid #e8e8e8;
}

.input-wrap {
  display: flex;
  flex-grow: 1;
}

.input-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 140px;
  padding: 0px 16px;
  font-size: 14px;
  font-weight: 700;
  text-align: end;
  background-color: #fafafa;
}

.basic-form {
  display: flex;
  width: 100%;
  padding: 12px 10px;
}

.form-input {
  width: 100%;
  height: 44px;
  padding: 0 10px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  font-weight: 400;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.reset-btn {
  width: 120px;
  height: 44px;
  margin-right: 8px;
  color: #919191;
  background-color: white;
  border: 1px solid #919191;
  border-radius: 5px;
}

.search-btn {
  width: 120px;
  height: 44px;
  color: white;
  border: 1px solid #5578f0;
  border-radius: 5px;
  background-color: #5578f0;
}

.influencer-list_sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 1px solid #e8e8e8;
}

.form-select {
  width: 100px;
  min-height: 36px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #e8e8e8;
}

.table {
  display: table;
  width: 100%;
  border-spacing: 2px;
}

.table-name {
  width: 20%;
  padding: 20px 0.5rem;
  font-weight: 400;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  color: #414141;
}

.table-name:nth-child(4) {
  width: 14%;
}
.table-name:nth-child(5) {
  width: 14%;
}
.table-name:last-child {
  width: 12%;
}

thead {
  background-color: #fafafa;
  height: 58px;
}

.text-start {
  display: flex;
  align-items: center;
  padding: 21px 7px;
}
/* leftmenu */

.left-menu {
  width: 220px;
  background-color: #ffffff;
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.04);
}
