@import "../../style/reset.css";
@import "../../style/common.css";
@import "../../style/app.css";

.without-whitespace {
  width: 100%;
}

.page-title {
  padding-bottom: 4px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--bs-gray-600);
  font-size: 20px;
  font-weight: 700;
  color: var(--bs-gray-900);
}
.marketit-container {
  padding: 40px;
}

.partner-accounts-search {
  margin-bottom: 40px;
}

.account-form {
  padding: 0px 0.75rem;
}

/* todo : row _ grid scss임 mixin필요 */
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(0 * -1);
  margin-right: calc(1.5rem * -0.5);
  margin-left: calc(1.5rem * -0.5);
}

/* scss에 있는 css */
.form-label {
  margin-bottom: 0.5rem;
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.label-form {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1 0;
}

.label-form > div {
  margin-right: 0.5rem;
}

.label-form > div > .form-label {
  color: var(--gray-6);
}

.css-placeholder {
  color: rgba(128, 128, 128);
  grid-area: 1 / 1 / 2 / 3;
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.partnerNames .partner-select .css-1s2u09g-control {
  width: 120px;
  margin-right: 0.5rem;
}

.css-b62m3t-container {
  position: relative;
  box-sizing: border-box;
}

.partner-autocomplete {
  width: 290px;
}

ul.mainTab {
  text-align: left;
  margin-bottom: 40px;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}

ul .mainTab > li {
  cursor: pointer;
  margin-left: 0;
}

.nav-item {
  text-decoration: none;
  color: #fff;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.partner-accounts-select {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 12px;
}

.partner-accounts-select .form-select {
  width: 80px;
}

.form-select {
  display: block;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}
