@import '/style/common.css';
@import '/style/app.css';

.marketit-container {
  padding: 40px;
  background-color: #ffffff;
}

.page-title {
  padding-bottom: 4px;
  border-bottom: 1px solid var(--bs-gray-600);
  font-size: 20px;
  font-weight: 700;
  color: var(--gray-9);
}

.form-title {
  font-size: 16px;
  font-weight: 700;
  color: var(--gray-8);
}

.basic-row {
  min-height: 68px;
  border-top: 1px solid var(--gray-3);
}

.row {
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.custom-form-label {
  color: var(--bs-gray-600);
  font-size: 14px;
  font-weight: 400;
}

.select {
  padding: 10px 10px;
  border: 1px solid var(--gray-5);
  border-radius: 5px;
}

.col-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.basic-btn {
  margin: 20px 0;
}

.btn {
  font-size: 14px !important;
  font-weight: 700 !important;
  border-radius: 5px !important;
}

.reset-btn {
  background-color: white;
  margin-right: 5px;
}

.list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 1px solid #e8e8e8;
}

.form-select {
  width: 100px;
  min-height: 36px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #e8e8e8;
}

td {
  vertical-align: middle;
}

.table > tbody > tr:nth-of-type(2n) {
  background-color: #fafafa;
  background-color: var(--bs-gray-100);
}

.select-control {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  padding: 10px;
  border: 1px solid var(--gray-5);
  border-radius: 5px;
  color: rgb(128, 128, 128);
}

.label-form {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}
